body {
    background-color: blueviolet;
    color:aquamarine;
}
h1 {
    font-family:'Arial', sans-serif;
    font-size: 36xp;
    text-align: center;
}
p {
    font-family: 'Georgia', serif;
    font-size: 18px;
    padding: 10px;
    margin: 20px;
}
.row {
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
}
.colum {
    flex: 1;
    padding: 10px;
}
@media (max-width: 600px) {
.colum {
    flex: 100%;
    }
}
